.experience-section {
  background-color: #0f172a;
  color: #e2e8f0;
  padding: 60px 20px;
  min-height: 77vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.exp-title {
  font-size: 32px;
  margin-bottom: 40px;
  color: #38bdf8;
  letter-spacing: 1px;
}

.exp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.exp-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 30px;
  width: 100%;
  max-width: 750px;
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 40px rgba(56, 189, 248, 0.15);
  backdrop-filter: blur(10px);
  transition: all 0.4s ease;
}

.exp-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  flex-wrap: wrap; /* allow wrapping on small screens */
}

.exp-duration {
  font-size: 14px;
  color: #94a3b8;
  margin-top: 6px;
}


.exp-body {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.exp-description {
  flex: 1;
  font-size: 16px;
  line-height: 1.6;
  color: #e2e8f0;
}

.exp-cert {
  max-width: 280px;
  max-height: 180px;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s ease;
}


.exp-cert:hover {
  transform: scale(1.05);
}

.exp-arrow {
  font-size: 26px;
  color: #38bdf8;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.exp-arrow:hover {
  transform: scale(1.3);
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-box {
  background-color: #1e293b;
  padding: 20px;
  border-radius: 16px;
  max-width: 95%;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 0 30px rgba(56, 189, 248, 0.25);
}

.modal-heading {
  text-align: center;
  font-size: 22px;
  color: #38bdf8;
  margin-bottom: 12px;
}

.popup-cert-img {
  max-width: 100%;
  max-height: 70vh;
  border-radius: 12px;
}

/* Responsive */
@media (max-width: 768px) {
  .exp-body {
    flex-direction: column;
    align-items: center;
  }

  .exp-card {
    height: auto;
    padding: 20px;
  }

  .exp-cert {
    width: 100%;
    height: auto;
  }
}
