.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0f172a;
  padding: 20px;
  position: relative;
  color: white;
  flex-wrap: wrap;
}

.logo {
  order: 0;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* border: 2px solid #38bdf8; */
}

.heading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  color: #38bdf8;
  order: 2;
}

.navbar {
  order: 3;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #0f172a;
  /* padding: 15px 30px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar button {
  padding: 8px 14px;
  background-color: transparent;
  border: 2px solid #38bdf8;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
}

.navbar button:hover {
  background-color: #0ea5e9;
  transform: scale(1.05);
}

.resume-modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.resume-modal-box {
  background-color: #1e293b;
  color: #e2e8f0;
  border-radius: 12px;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 0 24px rgba(56, 189, 248, 0.25);
  position: relative;
}

.resume-heading {
  text-align: center;
  font-size: 22px;
  color: #38bdf8;
  margin-bottom: 14px;
}

.resume-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}

.download-resume {
  background-color: #0ea5e9;
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.3s;
}

.download-resume:hover {
  background-color: #38bdf8;
}

.close-resume {
  background-color: #334155;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.close-resume:hover {
  background-color: #475569;
}



@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .logo {
    order: 1;
  }

  .heading {
    position: static;
    transform: none;
    font-size: 20px;
    order: 2;
  }

  .navbar {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    order: 3;
  }
}
